html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: Neuton, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #222C3C;
}

body {
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  line-height: 90%;
}

h1 {
  font size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #93634a;
  text-decoration: none;
}

a:visited {
  color: #222C3C;
}

a:hover {
  color: #93634a;
  text-decoration: underline;
}

a:active {
  color: #222C3C;
}

.button.evohealth {
  display: inline-block;
  background-color: #93634a;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid # #a19e9f;
  transition: 0.2s opacity;
}

.button.evohealth:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  display: inline-block;
  background-color: #93634a;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid # #a19e9f;
  transition: 0.2s opacity;
}

.button.contact:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.resume {
  display: inline-block;
  background-color: #93634a;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid # #a19e9f;
  transition: 0.2s opacity;
}

.button.resume:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.cssproject {
  display: inline-block;
  background-color: #93634a;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid # #a19e9f;
  transition: 0.2s opacity;
}

.button.cssproject:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* Layout styling */
.container {
  padding: 15px;
  padding-right: 15px;
}

.row {
  margin: 20px 0;
}

h1 {
  text-align: center;
}

header {
  background-color: #ae9789;
  text-align: center;
  position: fixed;
  width: 100%;
  display: inline-block;
  z-index: 1;
  box-shadow: 2px 2px 5px 2px rgba(50, 50, 50, 0.75);
}

#hero {
  background-color: #FAFAFA;
  padding-top: 115px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

main {
  padding-top: 130px;
}

#work {
  text-align: center;
  background-color: #FAFAFA;
  padding-top: 50px;
}

.row {
  margin: 5px 0;
  display: inline-block;
  width: 100%
}

#work.row {
  padding-bottom: 10px;
}

#relevantskills {
  text-align: left;
}

#relevantskills ul {
  text-align: left;
}

#tools {
  text-align: left;
}

#tools ul {
  text-align: left;
}

/* nav styling */

nav > ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #222c3c;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .menuicon {
  position: absolute;
  top: 50px;
  font-size: 40px;
  padding-right: 10px;
}

.navtoggle.responsive nav {
  padding: 12px 0 0;
}

.navtoggle.responsive li {
  display: inline-block;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}


/* footer styling */

footer#contact {
  background-color: #ae9789;
  text-align: center;
  padding: 0.67em;
  margin-top: 20px;
  box-shadow: 2px 2px 5px 2px rgba(50, 50, 50, 0.75);
}

/* ==============================
Small devices (smaller than 640px)
================================= */
/*----Vela Media queries-----------*/
@media only screen and (max-width: 640px) {
  .vela-friends-img {
    width: 100%;
  }
  .navtoggle li:last-child {
  display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: none;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
    display: inline-block;
  }

  main {
    padding-top: 110px;
  }

  nav {
    width: auto;
    float: right;
    height: 10px;
  }

  nav > ul {
    margin: -5em 0.75em;
  }

  nav > ul > li {
  display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle li:last-child {
  display: inline-block;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
    float: left;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 60px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h2 {
    margin-top: 0;
  }

  .columns {
    float: center;
    width: 25%;
    padding: 8px 10px;
    opacity: .8;
    background-color: grey;
    border: 2px solid #eee;
    text-align: center;
    box-sizing: border-box;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }

  .col-lg-7 {
    width: 50%;
  }

  .col-lg-5 {
    width: 50%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .navtoggle li:not(:last-child) {
  display: none;
  }

  .navtoggle li:last-child {
  display: inline-block;
  }

}

.button:hover {
  opacity: 0.8;
}

/* svg clouds */

.container-cloud{
	height:0px;
  width: 100px;
	position: relative;
	width:100%;
	padding-top: 10%;

}
.svg-cloud01 {
	width:60%;
	height: 150%;
	fill: #2980b9;
	top:0;
	left:-100px;
	z-index:100;
	overflow-x:hidden;
  animation: 10s cloud-move infinite alternate linear;
}

.svg-cloud02 {
	width:30%;
	height:100%;
	fill:#2980b9;
	top:100px;
	left:-50px;
	z-index: 200;
	overflow-x: hidden;
  animation: 20s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Animation for the clouds */

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
